<!DOCTYPE html>
<html lang="en">

<head>
	<title>Funcion Jodida de Django DARIO EDIT 1</title>
	<meta charset="utf-8" />
	
	<link rel="stylesheet" href="styles.css" type = "text/css"/>
	<meta name="viewport" content = "width-device-width, initial-scale=1.0"/>
</head> 

<body class="notabody">
	<header class="MainHeader">
		<img src="img/alessandra.jpg" width="700" height="150">
		<nav><ul>
			<li class='active'><a href='#'>Home</a></li>
			<li><a href='#'>Blog</a></li>
			<li><a href='#'>What</a></li>
			<li><a href='#'>Bleh</a></li>
		</ul></nav>
	</header>
	
	<aside class="InfoCostado">
		<article>
			<h3>Noticias Recientes</h3>
			<p>wasu wasa wasu wasa wasu wasa</p>
		</article>
	</aside>
	
	<div class="ContenidoPrincipal">
		<div class="Contenido">
			<article class="ArticuloComun">
				<header>
					<h3><a href="#" title="Ultimos posts">Un post epico sobre asdfg</a></h3>
				</header>
				<footer>
					<p class="InfoPost">Posteado el 32 de enero del -9999 (lol)</p>
				</footer>
				<content>
					<p>Blablabla mucho blablablaasdhdsjfhBlablabla mucho blablablaasdhdsjfhBlablabla mucho blablablaasdhdsjfhBlablabla mucho blablablaasdhdsjfhBlablabla mucho blablablaasdhdsjfhBlablabla mucho blablablaasdhdsjfhBlablabla mucho blablablaasdhdsjfhBlablabla mucho blablablaasdhdsjfhBlablabla mucho blablablaasdhdsjfh </p>
				</content>
			</article>
		</div>
	</div>

	<footer class="FooterPrincipal">
		<p> Hecho robando como un champion </p>
	</footer>

</body>

</html>